[submodule "opentelemetry-cpp"]
	path = opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp
[submodule "opentelemetry-cpp-contrib"]
	path = opentelemetry-cpp-contrib
	url = https://github.com/open-telemetry/opentelemetry-cpp-contrib
